* {
  overflow:hidden;
  outline: none;
  transition: all 0.5s ease;
  font-smoothing: antialiased;
  
  /* hide scrollbars */
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

/* hide scrollbars */
::-webkit-scrollbar {display: none; /* Chrome & Safari */}

.mySlides {
  overflow: hidden;
}

#absolute {
  position:absolute;
  bottom:10px;
}

a {
  text-shadow: 2px 2px 2px #aaa;
}

a:hover {
  font-size:1.5vw;
  text-shadow: 5px 5px 5px #aaa;
}

div {
  bottom:0px;
  left:0px;
  width:100vw;
  height:100vh;
}

.w3-button {
  z-index:1000;
  height:20vh;
  min-height:50px;
}

.w3-display-left {
  border-radius: 0px 500px 500px 0px;
}

.w3-display-right {
  border-radius: 500px 0px 0px 500px;
}

text {
  max-width:75vw;
  max-height:75vh;
  border-radius:50px;
  z-index:250;
  color: #555;
  font-family: sans-serif; 
  text-align: center;
  padding:25px;
  background-color:#fffc;
  text-shadow: 2px 2px 2px #aaa;
  overflow:scroll;
}

/* WATER OVERLAYS */
.w1 wave {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/land1.png");
	filter: url("#turbulence");
  width:100vw;
  height:100vh;
}

.w2 wave {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/Land2.png");
	filter: url("#turbulence");
  width:100vw;
  height:100vh;
}

.w3 wave {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/sea-map.png");
	filter: url("#turbulence");
  width:100vw;
  height:100vh;
}

.w4 wave {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/water4.png");
	filter: url("#turbulence");
  width:100vw;
  height:100vh;
}

.w5 wave {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/land5-map.png");
	filter: url("#turbulence");
  width:100vw;
  height:100vh;
}

.w6 wave {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/land6.png");
	filter: url("#turbulence");
  width:100vw;
  height:100vh;
}

.w67 wave {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/land67.png");
	filter: url("#turbulence");
  width:100vw;
  height:100vh;
}

.w68 wave {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/land68.png");
	filter: url("#turbulence");
  width:100vw;
  height:100vh;
}

.w69 wave {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/land69.png");
	filter: url("#turbulence");
  width:100vw;
  height:100vh;
}

.shrine wave {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/shrine.png");
	filter: url("#turbulence");
  width:100vw;
  height:100vh;
}


.w1 {
  background-image: url('https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/land1.jpg'); 
  background-size:cover;
  position: absolute;
  width:100vw;
  height:100vh;
}

.w2 {
  background-image: url('https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/Land2.jpg'); 
  background-size:cover;
  position: absolute;
  width:100vw;
  height:100vh;
}

.w3 {
  background-image: url('https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/sea.jpg'); 
  background-size: cover;
  position: absolute;
  width:100vw;
  height:100vh;
}

.w5 {
  background-image: url('https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/land5.png'); background-size: cover;position: absolute;
  width:100vw;
  height:100vh;
}

.w6 {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/land6.jpg");
  width:100vw;
  height:100vh;
}

.w4 {
  background-image: url('https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/water4.jpg'); background-size: cover;position: absolute;
  width:100vw;
  height:100vh;
}

.w67 {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/land67.jpg");
  width:100vw;
  height:100vh;
}

.w68 {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/land68.jpg");
  width:100vw;
  height:100vh;
}

.w69 {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/land69.jpg");
  width:100vw;
  height:100vh;
}

.shrine {
  background-size: cover;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Vortetty/Vortetty.github.io/master/images/shrine.jpg");
  width:100vw;
  height:100vh;
}
